{% extends 'layouts/bootstrap-dashboard.html' %}

{% block title %}
<title>Origins</title>
{% endblock %}

{% block content %}
    <div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Leases <small>with origin</small></h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group me-2">
                    <button type="button" class="btn btn-sm btn-outline-danger" onclick="deleteLease().finally(() => load())">
                        delete lease
                    </button>
                    <button type="button" class="btn btn-sm btn-outline-danger" onclick="deleteExpiredLeases().finally(() => load())">
                        delete all expired leases
                    </button>
                </div>

                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="load()" title="refresh">
                    <i class="bi bi-arrow-clockwise"></i>
                </button>
            </div>
        </div>

        <div id="leases" class="mt-3"></div>
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="application/javascript">
    function load() {
        const leases = document.getElementById('leases')
        fetchLeases(leases)
    }

    load()
</script>
{% endblock %}
